.settings
target
.classpath
.project
mvnw.cmd
/target/
src/main/resources/static/node_modules
/src/main/resources/static/package-lock.json
/src/main/resources/static/index.html
src/main/resources/static/js/bundle.js
/src/main/resources/static/styles/style.css
