@import "bootstrap/dist/css/bootstrap.css"
@import "includes/style"
@import "includes/chocolat"
@import "select2/dist/css/select2.css"
@import "select2-bootstrap-css/select2-bootstrap.css"
@import "eonasdan-bootstrap-datetimepicker-custom/build/css/bootstrap-datetimepicker.css"

.reportrow {
	padding-top: 20px;
	padding-bottom: 20px;
}


