@import "bootstrap/dist/css/bootstrap.css"
@import "includes/style"
@import "includes/chocolat"
@import "includes/animate"
@import "select2/dist/css/select2.css"
@import "select2-bootstrap-css/select2-bootstrap.css"
@import "eonasdan-bootstrap-datetimepicker-custom/build/css/bootstrap-datetimepicker.css"
@import "c3/c3.css"
@import "free-jqgrid/dist/css/ui.jqgrid.css"
@import "font-awesome/css/font-awesome.css"

.reportrow {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto auto auto auto;
}


.legend span {
    width: 10%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    color: white;
    min-height: 40px;
    margin: 2px 2px 2px 2px;
}

.chartcontainer {
	
}

